.movieBody {
  grid-template-columns: 1fr 1fr;
  display: grid;
  column-gap: 100px;
  width: 95%;
}

.movie {
  grid-template-columns: 1fr 1fr;
  display: grid;
  column-gap: 100px;
}

@media only screen and (max-width: 550px) {
  .movieBody, .movie {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .trendingPhoto{
    width: 100%;
  }
}
