.header{
  display: flex;
  background-color: rgb(35, 73,159);
  color: rgb(223, 174, 71);
  text-align: center;
  max-width: 100%;
  }

  .logoThing {
display: flex;
  }

  .logo{
    width: 10%;
    height: auto;
    position:  left;
  }

  .titlePage{
    color: rgb(223, 174, 71);
  }

  @media only screen and (max-width: 550px) {
    .header {
      height: 100px;
    }
    .logo{
      width: 30%;
      height: auto;
    }
  }